<div class="container">
  <app-add-city (citySelectionPerformed)="citySelectedHandler($event)"></app-add-city>
  <app-city-name [cityName]="city">
  </app-city-name>
  <app-temparature-indicator
    [temp]="currTemp"
  >
  </app-temparature-indicator>
  <app-weather-icon
    [url]="iconURL"
    [description]="description">
  </app-weather-icon>
  <app-weather-details
    [min]="minTemp"
    [max]="maxTemp"
    [feelsLike]="feelsLikeTemp"
    [windSpeed]="windSpeed"
  >
  </app-weather-details>
</div>
