@media screen and (max-width: 500px)
  div.weather-icon
    & span.description
      font-size: 2rem
    & i
      font-size: 4rem

.weather-icon
  display: flex
  justify-content: center
  align-items: center
  color: #98C1D9
  transform: translate(0, -20%)

  & span.description
    font-size: 3rem
    text-transform: capitalize

  & i
    font-size: 7rem
