.weather-details
  display: flex
  justify-content: center
  align-items: flex-end
  & > div
    margin-left: 20px
    font-size: 2.5rem
    color: #2a9d8f
  & span.w-label
    font-size: 2rem
  & span.w-value
    color: #e9c46a
    margin-left: 10px
