<div class="weather-details">
  <div class="max">
    <span class="w-label">High:</span>
    <span class="w-value">{{max}}&#176;</span>,
  </div>
  <div class="min">
    <span class="w-label">Low:</span>
    <span class="w-value">{{min}}&#176;</span>,
  </div>
  <div class="feels-like">
    <span class="w-label">Feels like:</span>
    <span class="w-value">{{feelsLike}}&#176;</span>,
  </div>
  <div class="wind-speed">
    <span class="w-label">Wind speed:</span>
    <span class="w-value">{{windSpeed}} km/h</span>
  </div>
</div>
