div.city-selection
  text-align: center
  padding: 0 1em
  max-width: 320px
  margin: 0 auto
h1
  margin: 0 0 0.25em
  font-size: 2.9rem
  font-weight: normal
div.city-autocomplete-list
  & > input.city-name-input
    width: 100%
    height: 40px
    border-radius: 10px
    padding-left: 10px
    font-size: 1rem
p
  font-size: 1rem

@media screen and (min-width: 768px)
  div.city-selection
    max-width: 27em
  h1
    font-size: 4rem
    font-weight: normal
  div.city-autocomplete-list
    width: 100%
    margin: 0 auto
    text-align: center
    & > input.city-name-input
      padding-left: 15px
      height: 50px
      border: .5px solid #2a9d8f
      border-radius: 20px
      outline: none
      font-size: 1.25rem      