div.city-selection
  width: 60vw
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

h1
  font-size: 6rem
  font-weight: normal

div.city-autocomplete-list
  & > input.city-name-input
    padding-left: 10px
    padding-right: 10px
    width: 40vw
    height: 50px
    border: .5px solid #2a9d8f
    border-radius: 20px
    outline: none
    font-size: 2rem

p
  color: #e9c46a
  font-size: 1.5rem

@media screen and (max-width: 500px)
  div.city-selection
    width: 100vw
  h1
    font-size: 3rem
  div.city-autocomplete-list
    & > input.city-name-input
      width: 90vw
      height: 40px
      border-radius: 10px
      font-size: 1rem
  p
    font-size: 1rem
