
.temparature-indicator
  color: #2a9d8f
  transform: translate(0, -20%)
  width: 50vw
  display: flex
  justify-content: center
  align-items: center

  & div.thermometer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-left: 0
    color: #2a9d8f
    & i
      font-size: 10rem

    & > div.max, div.min
      color: #e9c46a
      font-size: 1.5rem

  & div.temp-number
    color: white
    font-size: 8rem
    & span.unit
      font-size: 3rem
      color: #2a9d8f


